body{
    font-family:'Roboto',sans-serif;
    color: #434455;
    background-color:#ffffff;
  }
  .container{
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  ul,ol{
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .logotype{
    margin-right: 76px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .menu{
    gap: 40px;
  }
  .menu-link{
    display: flex;
    gap: 40px;
    padding: 24px;
  }
  button{
  cursor: pointer;
  }
  .page-header{
    border-bottom:  1px solid #e7e9fc;
    display: flex;
    margin: auto;
    padding: 15px;
  .nav
  }
  .page-navigation{
   background: var(--WHITE, #FFF);
   text-decoration: none;
   display: flex;
   align-items: center;
  }
  .menu {
    padding: 10px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    display: flex;
    margin-top: 24px;
    font-weight: 71px;
    line-height: 24px;
    margin-left: 24px;
    margin-right: 15px;
  }
  .menu .link {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
   }
  
  .menu .link:hover {
    text-decoration: underline;
   }
  .logotype{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4D5AE5);
  }
  .logotype-span{
  font-family: Raleway,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  }
  .menu:hover{
  color: #404bbf;
  }
  .menu:focus{
  color: #404bbf;
  }
  .menu-item:hover{
  color: #404bbf;
  }
  .menu-item:focus{
  color: #404bbf;
  }
  .menu-link{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2E2F42);
  }
  .menu-link:hover{
  color: #404bbf;
  }
  .list{
    padding: 10px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    display: flex;
    margin-top: 24px;
    font-weight: 71px;
    line-height: 24px;
    margin-left: 24px;
    margin-right: 15px;
  }
  .menu-link:focus{
  color: #404bbf;
  }
  .hedear-addres{
  padding: 24px;
  font-style: normal;
  }
  .menu-contact{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);

  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  gap: 40px;
  }
  .contact-list{
    display: flex;
    gap: 40px;
  }
  .menu-contact:hover,
  .menu-contact:focus{
  color: #404bbf;
  }





  /*Hero*/
  .hero-image{
  padding: 188px;
  border: 1px solid #000;
  background-color: #2e2f42;
  text-align: center;
  }
  .main-head{
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  color: var(--WHITE, #ffffff);
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  }
  .button-action{
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--IRIS, #4D5AE5);
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  font-family: roboto;
  font-style: normal;
  margin-bottom: 48px;
  max-width: 496px;
  display: block;
  }
  .button-action:hover,
  .button-action:focus{
  background-color: #404BBF;
  margin-left: auto;
  margin-right: auto;
  }
  .benefits{
    margin-bottom: 8px;
  display: flex;
  gap: 24px;
  padding: 188px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background: #ffffff;
  }
  .visually-hidden{
  }

  .made-benefits{
  font-weight: 500;
  font-size:20px;
  line-height:1.2;
  letter-spacing:0.02em;
  color: #2e2f42;
  }
  .made-menu{
  padding: 120px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  .made-menu-item{
  width: calc((100%-72px)/4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
  .made-menu-item-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
  .made-menu-item-text{
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.50; 
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
  }
  .our-team{
  gap: 24px;
  display: flex;
  padding: 120px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex-shrink: 0;
  border: 1px solid #000;
  background-color:#f4f4fd;
  }
  .visually-hidden
 .container{
  padding: 32px;
  }
  .our-team-title{
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  border-radius: 0px 0px 0px 0px;
  }
  .our-team-name{
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  .our-team-list{
  background-color: #ffffff; 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
  .name{
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  margin-bottom: 8px;
  }
  .introduce{
  text-align: center;
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  }
  .section-portfolio{
  line-height: 1.11;
  background-color: #f4f4fd;
  padding-top: 120px;
  pa: 120px;
  }
  .section-portfolio-title{
  background-color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  padding-top: 120px;
  }
  .section-title{
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #f4f4fd;
  }
  
  .list-portfolio{
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  display: flex;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background-color:#ffffff;
  }
  .portfolio-name{
  width: calc((100% - 48px) / 3);
  font-family: Roboto, sans-serif;
  font-size:20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2E2F42);
  }

  .portfolio-type{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
  }

  /*Footer*/
  .end{
   padding-top: 100px;
   background: var(--NAVY-BLUE, #2E2F42);
  }

  .text-end{
  max-width: 264px;
  line-height: 1.50; /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  color: var(--CLOUD, #F4F4FD);
  }
  
  .logotype-span-foot{
  color: #f4f4fd;
  }
  .imeges{
    display: block;
  }
  